In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv("airline_2019.csv")

In [7]:
df.head(500)

,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 25
0,2019-04-01,20416,N605NK,BWI,"Baltimore, MD",Maryland,MCO,"Orlando, FL",Florida,1020,...,1305.0,0.0,NaN,0.0,0.0,0.0,3.0,0.0,17.0,NaN
1,2019-04-01,20416,N605NK,DTW,"Detroit, MI",Michigan,BWI,"Baltimore, MD",Maryland,755,...,948.0,0.0,NaN,0.0,20.0,0.0,0.0,0.0,0.0,NaN
2,2019-04-01,20416,N605NK,BWI,"Baltimore, MD",Maryland,DTW,"Detroit, MI",Michigan,1931,...,2134.0,0.0,NaN,0.0,10.0,0.0,11.0,0.0,5.0,NaN
3,2019-04-01,20416,N605NK,MCO,"Orlando, FL",Florida,BWI,"Baltimore, MD",Maryland,1623,...,1846.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-04-01,20416,N637NK,LAS,"Las Vegas, NV",Nevada,DTW,"Detroit, MI",Michigan,2320,...,643.0,0.0,NaN,0.0,21.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2019-04-01,19805,N834AW,PHX,"Phoenix, AZ",Arizona,PIT,"Pittsburgh, PA",Pennsylvania,1524,...,2216.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
496,2019-04-01,19805,N557UW,BDL,"Hartford, CT",Connecticut,CLT,"Charlotte, NC",North Carolina,632,...,827.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
497,2019-04-01,19805,N826AW,ATL,"Atlanta, GA",Georgia,ORD,"Chicago, IL",Illinois,1736,...,1843.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
498,2019-04-01,19805,N103US,CLT,"Charlotte, NC",North Carolina,PIT,"Pittsburgh, PA",Pennsylvania,1844,...,1951.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
499,2019-04-01,19805,N703UW,CLT,"Charlotte, NC",North Carolina,SAV,"Savannah, GA",Georgia,1159,...,1311.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(7373570, 26)

In [9]:
df.tail()

,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 25
7373565,2019-03-31,19930,N524VA,SFO,"San Francisco, CA",California,SAN,"San Diego, CA",California,1830,...,2024.0,0.0,NaN,0.0,24.0,0.0,0.0,0.0,0.0,NaN
7373566,2019-03-31,19930,N529VA,SAN,"San Diego, CA",California,SFO,"San Francisco, CA",California,1740,...,1904.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7373567,2019-03-31,19930,N528VA,SFO,"San Francisco, CA",California,SAN,"San Diego, CA",California,2140,...,2304.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7373568,2019-03-31,19930,N524VA,SAN,"San Diego, CA",California,SFO,"San Francisco, CA",California,2050,...,2250.0,0.0,NaN,0.0,6.0,0.0,2.0,0.0,17.0,NaN
7373569,2019-03-31,19930,N364VA,SFO,"San Francisco, CA",California,LAX,"Los Angeles, CA",California,1100,...,1222.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN